---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Pisidia Marble – Pisidia, Isparta / Turkiye.{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}Pisidia is an ancient civilization in current time Isparta / Turkiye, of which the ruins of ancient temples, theatres, made of Pisidian marble lasting over millenia, are still to be seen at touristic sightseeings in our region.{% endif %}</p>
          <p class="author_subtitle">As Pisidia Marble, we trade in polished, ready to install marble tiles, cut down to internationally demanded standard as well as project based custom sizes;aiming to bring the ancient elegance of marble into the housings of modern times.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
